{% load paginator_tags %}
<section class="hidden categories min-h-[40rem]">
  <div
    class="flex justify-between mt-8 mb-4 items-center text-primary-500 font-medium"
  >
    <h1 class="text-xl">Categories</h1>
    {% if categories_obj %}
    <!-- <div class="relative">
      <input
        type="text"
        placeholder="Search.."
        class="border-1 text-gray-900 border-gray-300 px-4 py-2 rounded-md mb-2 block"
        oninput="categories_suggestions(event,this)"
      />
      <div
        class="suggestions hidden justify-items-center absolute top-12 w-full bg-white z-10 border-2 border-gray-300 rounded-md"
      ></div>
    </div> -->
    {% if user.role == 'store_manager' %}
    <a
      class="inline-block rounded-md bg-primary-600 text-white px-4 py-2"
      href="{% url 'create-category' %}"
      >Create one</a
    >
    {% else %}
    <span></span>
    {% endif %} {% endif %}
  </div>
  <form class="my-2 flex gap-4 items-center p-2">
    <h2 class="text-lg text-primary-400">Filters</h2>
    <input name="view" value="categories" hidden>
    <div class="flex items-center gap-4">
      <label
        for="category_name"
        class="block text-sm font-medium text-gray-900 dark:text-white text-nowrap"
        >Category name</label
      >
      <input
        type="text"
        name="category_name"
        id="category_name"
        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Category name"
      />
    </div>

    <div class="flex items-center gap-4">
      <label
        for="category_type"
        class="block pl-2 text-sm font-medium text-gray-900 dark:text-white"
        >Type</label
      >
      <select
        id="category_type"
        name="category_type"
        class="grow pr-8 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
      <option></option>
         <option value="indoor">Indoor</option>
         <option value="outdoor">Outdoor</option>
      </select>
    </div>

    <button
      type="submit"
      class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
    >
      Filter
    </button>
  </form>
  {% if categories_obj %}
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Category</th>
        <th scope="col" class="px-6 py-3">Type</th>
        <th scope="col" class="px-6 py-3">Amount of routers</th>
        <th scope="col" class="px-6 py-3">Created at</th>
        {% if user.role == 'store_manager' %}
        <th scope="col" class="px-6 py-3">Actions</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for category in categories_obj %}
      <tr
        data-id="{{category.id}}"
        data-name="{{category.name}}"
        data-type="{{category.type}}"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ category.name }}
        </th>
        <td class="px-6 py-4">{{ category.type }}</td>
        <td class="px-6 py-4">{{ category.count_routers }}</td>
        <td class="px-6 py-4">{{ category.created_at|date:'Y-m-d H:i' }}</td>
        {% if user.role == 'store_manager' %}
        <td class="px-6 py-4 flex gap-4">
          <i
            title="edit"
            class="fa-regular fa-pen-to-square text-lg text-primary-400 cursor-pointer"
            onclick="open_edit_category(this)"
          ></i>
          <i
            title="delete"
            class="fa-solid fa-trash text-lg text-red-400 cursor-pointer"
            onclick="delete_category({{category.id}})"
          ></i>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% else %}
  <p class="text-center text-lg font-semibold mt-8">You have no categories       
  <a class="text-primary-500" href="{% url 'create-category' %}"
    >Create one</a
  ></p>
  {% endif %}

  <div class="flex gap-2 justify-center my-4">
    <!-- here -->
    {% for i in routers_paginator %} {% if routers.number == i %}
    <a
      class="px-3 py-1 rounded-md border-2 text-primary-500 border-primary-500"
    >
      {{ i }}
    </a>
    {% else %} {% if i == paginator.ELLIPSIS %}
    <a class="px-3 py-1 rounded-md border-2"> {{ paginator.ELLIPSIS }} </a>
    {% else %}

    <a class="px-3 py-1 rounded-md border-2" href="?category_page={{ i }}">{{ i }}</a>

    {% endif %} {% endif %} {% endfor %}
  </div
  {% include 'main/category/edit-form.html' %}
  </section>
