{% include 'base/root.html' %} {% block content %}
<main class="max-w-[1400px] mx-auto">
  {% if user.store %}

  <!-- Categories -->
  <div class="relative overflow-x-auto mt-16">
    <div
      class="flex justify-between mt-8 mb-4 items-center text-primary-500 font-medium"
    >
      <h2 class="text-xl">Categories</h2>
      {% if categories %} {% if user.role == 'store_manager' %}
      <a
        class="inline-block rounded-md bg-primary-600 text-white px-4 py-2"
        href="{% url 'create-category' %}"
        >Add</a
      >
      {% endif %} {% endif %}
    </div>
    {% if categories %}
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Name</th>
          <th scope="col" class="px-6 py-3">Type</th>
          <th scope="col" class="px-6 py-3">In-Stock</th>
          <th scope="col" class="px-6 py-3">Created at</th>
          {% if user.role == 'store_manager' %}
          <th scope="col" class="px-6 py-3">Actions</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
        <tr
          data-id="{{category.id}}"
          data-name="{{category.name}}"
          data-type="{{category.type}}"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ category.name }}
          </th>
          <td class="px-6 py-4">{{ category.type }}</td>
          <td class="px-6 py-4">{{ category.count_routers }}</td>
          <td class="px-6 py-4">{{ category.created_at|date:'Y-m-d H:i' }}</td>
          {% if user.role == 'store_manager' %}
          <td class="px-6 py-4 flex gap-4">
            <i
              title="edit"
              class="fa-regular fa-pen-to-square text-lg text-primary-400 cursor-pointer"
              onclick="open_edit_category(this)"
            ></i>
            <i
              title="delete"
              class="fa-solid fa-trash text-lg text-red-400 cursor-pointer"
              onclick="delete_category({{category.id}})"
            ></i>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if more_categories %} {% if user.role == "store_manager" %}
    <a
      class="block text-center text-primary-400 mt-8 font-semibold underline"
      href="{% url 'dashboard' %}?view=categories"
      >Show all categories</a
    >
    {% endif %} {% endif %} {% else %}
    <p class="text-center text-lg font-semibold">
      You have no categories,
      <a class="text-primary-500" href="{% url 'create-category' %}">Add</a>
    </p>
    {% endif %}
  </div>
  <!-- routers -->
  <div class="relative overflow-x-auto">
    <div
      class="flex justify-between mt-8 mb-4 items-center text-primary-500 font-medium"
    >
      <h2 class="text-xl">Routers</h2>
      {% if routers %} {% if user.role == 'store_manager' %}
      <a
        class="inline-block rounded-md bg-primary-600 text-white px-4 py-2"
        href="{% url 'create-router' %}"
        >Add</a
      >
      {% endif %} {% endif %}
    </div>
    {% if routers %}
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">category</th>
          <th scope="col" class="px-6 py-3">Serial number</th>
          <th scope="col" class="px-6 py-3">IMEI</th>
          <th scope="col" class="px-6 py-3">Created at</th>
          {% if user.role == 'store_manager' %}
          <th scope="col" class="px-6 py-3">Actions</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for router in routers %}
        <tr
          data-id="{{router.id}}"
          data-sn="{{router.serial_number}}"
          data-emei="{{router.emei}}"
          data-category="{{router.category.id}}"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ router.category.name }}
          </th>
          <td class="px-6 py-4">{{router.serial_number }}</td>
          <td class="px-6 py-4">{% if router.emei %}  {{ router.emei }} {% else %} - {% endif %} </td>
          <td class="px-6 py-4">{{ router.created_at|date:'Y-m-d H:i' }}</td>
          {% if user.role == 'store_manager' %}
          <td class="px-6 py-4 flex gap-4">
            <i
              title="edit"
              class="fa-regular fa-pen-to-square text-lg text-primary-400 cursor-pointer"
              onclick="open_edit_router(this)"
            ></i>
            <i
              title="delete"
              class="fa-solid fa-trash text-lg text-red-400 cursor-pointer"
              onclick="delete_router({{router.id}})"
            ></i>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if more_routers %} {% if user.role == "store_manager" %}
    <a
      class="block text-center text-primary-400 mt-8 font-semibold underline"
      href="{% url 'dashboard' %}?view=routers"
      >Show all routers</a
    >
    {% endif %} {% endif %} {% else %}
    <p class="text-center text-lg font-semibold">
      You have no routers,
      <a class="text-primary-500" href="{% url 'create-router' %}">Add</a>
    </p>
    {% endif %}
  </div>
  {% else %}
  <p class="mt-16 mb-4 text-xl">You are not associated to any store</p>
  <a class="block text-xl text-primary-500" href="{% url 'create-store' %}"
    >Create a store</a
  >
  {% endif %} {% if user.role == 'store_manager' %} {% include 'main/router/edit-form.html' %} {% include 'main/category/edit-form.html' %}
  {% endif %}
</main>
{% endblock %}
