<section class="hidden graphs">
  <h2 class="text-primary-500 text-xl font-semibold">Graphs</h2>
  <div class="flex justify-around w-full my-8 flex-wrap">
    <div class="w-5/12 h-full">
      <p class="text-primary-400 text-center font-medium mb-2 text-lg">
        Routers by category
      </p>
      <canvas id="myBarChart"></canvas>
    </div>
    <div class="w-5/12 h-full">
      <p class="text-primary-400 text-center font-medium mb-2 text-lg">
        Routers by store
      </p>
      <canvas id="myLineChart"></canvas>
    </div>
  </div>
  <div class="flex justify-around w-full my-8 flex-wrap">
    <div class="w-5/12 h-full">
      <p class="text-primary-400 text-center font-medium mb-2 text-lg">
        Routers added by user
      </p>
      <canvas id="add"></canvas>
    </div>
    <div class="w-5/12 h-full">
      <p class="text-primary-400 text-center font-medium mb-2 text-lg">
        Routers edited by user
      </p>
      <canvas id="edit"></canvas>
    </div>
    <div class="w-5/12 h-full">
      <p class="text-primary-400 text-center font-medium mb-2 text-lg">
        Routers deleted by user
      </p>
      <canvas id="delete"></canvas>
    </div>
  </div>
</section>
