{% extends 'base/root.html' %} {% load paginator_tags %} {% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<main class="max-w-[1400px] mx-auto py-8">
  <!-- Switch views -->
  <div class="flex justify-center items-center gap-8">
    <!-- <h2 class="text-primary-500 font-semibold">Switch pages :</h2> -->
    <div
      class="page flex w-fit rounded-md border-2 border-primary-500 divide-x-2 divide-primary-500 text-gray-800"
      onclick="switch_pages_handler(event)"
    >
      <span name="routers" class="p-2 cursor-pointer page_active">Routers</span>
      <span name="categories" class="p-2 cursor-pointer">Categories</span>
      <span name="graphs" class="p-2 cursor-pointer">Graphs</span>
    </div>
  </div>

  {% include 'main/router/list.html' %} {% include 'main/category/list.html' %}
  {% include 'main/dashboard/graphs.html' %}
</main>
<script>
  const urlParams = new URLSearchParams(window.location.search);
  const view = urlParams.get("view");
  if (view) {
    document.querySelector(`.page>span[name=${view}]`).click();
  }
</script>
<script>
    // Configuration options for the chart
    let options = {
    scales: {
        yAxes: [{
            ticks: {
                beginAtZero: true
            }
        }]
    }
  };
  // Sample data for the bar chart
  {% for monitor in monitors %}

  {% endfor %}
  let data = {
    labels: {{days|safe}},
    datasets: [
    {% for monitor in monitors %}
    {
        label: "{{monitor.label}}",
        data: {{monitor.values|safe}},
        backgroundColor: "{{monitor.color}}",
        borderColor: "{{monitor.border}}",
        borderWidth: 1,
      },
    {% endfor %}
    ],
  };



  // Get the canvas element
  var ctx = document.getElementById("myBarChart").getContext("2d");

  // Create the bar chart
  var myBarChart = new Chart(ctx, {
    type: "bar",
    data: data,
    options: options,
  });
</script>
<script>
  let LineData = {
    labels: {{days|safe}},
    datasets: [
      {
        label: "{{user.store.name}}",
        data: {{store_monitors|safe}},
        backgroundColor: "rgba(75, 192, 192, 0.2)",
        borderColor: "rgba(75, 192, 192, 1)",
        borderWidth: 1,
      },
    ],
  };


  // Get the canvas element
  var ctx = document.getElementById("myLineChart").getContext("2d");

  // Create the line chart
  var myLineChart = new Chart(ctx, {
    type: "line",
    data: LineData,
    options: options,
  });
</script>
<script>

  let add = {
    labels: {{days|safe}},
    datasets: [
    {% for key,values in add.items %}
      {
        label: "{{key}}",
        data:  {{values.obj|safe}},
        backgroundColor: "{{values.color}}",
        borderColor: "{{values.border}}",
        borderWidth: 1,
      },
      {% endfor %}
    ],

  };


  // Get the canvas element
  var ctx = document.getElementById("add").getContext("2d");

  // Create the line chart
  var myLineChart = new Chart(ctx, {
    type: "bar",
    data: add,
    options: options,
  });
</script>
<script>
    let editedData = {
      labels: {{days|safe}},
      datasets: [
      {% for key,values in edit.items %}
        {
          label: "{{key}}",
          data:  {{values.obj|safe}},
          backgroundColor: "{{values.color}}",
          borderColor: "{{values.border}}",
          borderWidth: 1,
        },
        {% endfor %}
      ],

    };
  ;

    // Get the canvas element
    var ctx = document.getElementById("edit").getContext("2d");

    // Create the line chart
    var myLineChart = new Chart(ctx, {
      type: "bar",
      data: editedData,
      options: options,
    });
</script>
<script>
  let deletedData = {
    labels: {{days|safe}},
    datasets: [
    {% for key,values in delete.items %}
      {
        label: "{{key}}",
        data:  {{values.obj|safe}},
        backgroundColor: "{{values.color}}",
        borderColor: "{{values.border}}",
        borderWidth: 1,
      },
      {% endfor %}
    ],

  };


  // Get the canvas element
  var ctx = document.getElementById("delete").getContext("2d");

  // Create the line chart
  var myLineChart = new Chart(ctx, {
    type: "bar",
    data: deletedData,
    options: options,
  });
</script>
{% endblock %}
